<html>
  <head>

     <title>LARAe.weSPOT</title>
     <%
      if(users[(userAuthProvider + "_" + userAuthId).toLowerCase()] == null)
        users[(userAuthProvider + "_" + userAuthId).toLowerCase()] = {name:"###",icon:""};


      //let's play with one inquiry atm
      //widgetsPerPhase:parsedData.widgetsPerPhase, ratings:parsedData.ratings, users: user.users, events: parsedData.event
      var widgetsPerPhase = data[defaultInquiry].data.widgetsPerPhase;
      var colors_rating = ["#D52C24", "#FBAE61","#FFFDA8","#A5D767","#17974D"];

      %>
      <script type="application/javascript">



      var colors =           ["#33FF99","#33CCFF","#CCFF33","#FF0066","#CCFFFF","#FF66CC","#99CC66","#9999FF","#FFCC66", "#FF9966"];
      var colors_dark = ["#197F4C","#19667F","#667F19", "#7F0033","#667F7F","#7F3366" ];

      var colors_rating = ["#D52C24", "#FBAE61","#FFFDA8","#A5D767","#17974D"]

      var dataPerInquiry = <%- JSON.stringify(data) %>;
      var activeInquiry = [];
          var userAuthProvider = "<%= userAuthProvider %>";
          var userAuthId = "<%= userAuthId %>";
          var users = <%- JSON.stringify(users) %>;
          var defaultInquiry = <%- defaultInquiry %>;
          var phases =[<%-availablePhases%>];
        phases.sort();

          var filters = <%- JSON.stringify(skillAndActivities) %>;


      </script>
     <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
     <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

      <link type="text/css" rel="stylesheet" href="/wespot/static/javascripts/3rdParty/jquery-dropdown/jquery.dropdown.css" />
      <script type="text/javascript" src="/wespot/static/javascripts/3rdParty/jquery-dropdown/jquery.dropdown.js"></script>
      <script type="text/javascript" src="/wespot/static/javascripts/3rdParty/crossfilter.js"></script>
      <script type="text/javascript" src="/wespot/static/javascripts/dashboard_logic.js"></script>
      <script type="text/javascript" src="/wespot/static/javascripts/tracking.js"></script>

      <link rel="stylesheet" href="/wespot/static/stylesheets/style.css">
</head>
<body  id="mainBody">
<div id="titleField">
    <% if(iframe == undefined) {%>
    <img id="wespot_logo" src="/wespot/static/images/wespot_logo.png"/>
    <%}%>





    <table id="legend">
        <tbody>

        <tr>
            <td>
                <select style="min-width: 200px" multiple id="inquirySelection" size="5" onchange="javascript:inquirySelectionChanged()">
                    <% Object.keys(data).forEach(function(inq){ %>
                    <option value="<%=inq%>"><%=data[inq].inquiry.title%></option>
                    <% });%>
                </select>
                <select style="min-width: 200px" multiple id="studentSelection" size="5" onchange="javascript:studentSelectionChanged()">

                </select>
                <% if(skillAndActivities != undefined && skillAndActivities != {} && Object.keys(skillAndActivities).length != 0){%>
                <select style="min-width: 200px" multiple id="skillSelection" size="5" onchange="javascript:skillSelectionChanged()">
                    <% Object.keys(skillAndActivities).forEach(function(skill){ %>
                    <option value="<%=skill%>" selected="true"><%=skillAndActivities[skill].skill%></option>
                    <% });%>
                </select>
                <% }%>
            </td>
            <td colspan="6">
                <span style="display:inline-block;color:<%= colors_rating[0] %>" >&#9733;</span>&#9734;&#9734;&#9734;&#9734;<br/>
                <span style="display:inline-block;color:<%= colors_rating[1] %>" >&#9733;&#9733;</span>&#9734;&#9734;&#9734;<br/>
                <span style="display:inline-block;color:<%= colors_rating[2] %>" >&#9733;&#9733;&#9733;</span>&#9734;&#9734;<br/>
                <span style="display:inline-block;color:<%= colors_rating[3] %>" >&#9733;&#9733;&#9733;&#9733;</span>&#9734;<br/>
                <span style="display:inline-block;color:<%= colors_rating[4] %>" >&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                <br/>

            </td>
            <td>
                <input type="checkbox" id="adminRating" onchange="javascript:adminRatingChanged()"/><span style="color:black">only admin&#9733; </span>
            </td>


        </tr>


        </tbody></table>
</div>

<div id="em_phases" class="scrollableView">
<table id="phases">
    <tr id="phases_headers" >

        <th class="title_student"><span onclick="javascript:sortBy('name');">Name</span></th>
        <% if(availablePhases.indexOf(1) >= 0) { %> <th class="title_phase1"><span onclick="javascript:sortBy('1');" title="<%= phaseNames[1] %>"><%= phaseNames[1] %></span><a href="#" data-dropdown="#dropdown-phase1"></a></th> <% } %>
        <% if(availablePhases.indexOf(2) >= 0) { %><th class="title_phase1"><span onclick="javascript:sortBy('2');" title="<%= phaseNames[2] %>"><%= phaseNames[2] %></span><a href="#" data-dropdown="#dropdown-phase2"></a></th><% } %>
        <% if(availablePhases.indexOf(3) >= 0) { %><th class="title_phase1"><span onclick="javascript:sortBy('3');" title="<%= phaseNames[3] %>"><%= phaseNames[3] %></span><a href="#" data-dropdown="#dropdown-phase3"></a></th><% } %>
        <% if(availablePhases.indexOf(4) >= 0) { %><th class="title_phase1" ><span onclick="javascript:sortBy('4');" title="<%= phaseNames[4] %>"><%= phaseNames[4] %></span><a href="#" data-dropdown="#dropdown-phase4"></a></th><% } %>
        <% if(availablePhases.indexOf(5) >= 0) { %><th class="title_phase1"><span onclick="javascript:sortBy('5');" title="<%= phaseNames[5] %>"><%= phaseNames[5] %></span><a href="#" data-dropdown="#dropdown-phase5"></a></th><% } %>
        <% if(availablePhases.indexOf(6) >= 0) { %><th class="title_phase1"><span onclick="javascript:sortBy('6');" title="<%= phaseNames[6] %>"><%= phaseNames[6] %></span><a href="#" data-dropdown="#dropdown-phase6"></a></th><% } %>
        <!-- <th class="title_data">Data</th> -->

    </tr>
</table>
</div>



<div id="userList" class="scrollableView">
<table id="mainTable">
    <script type="application/javascript">
        regenerate();
        </script>

</table>
</div>

<div id="eventData" class="scrollableView">

</div>



<%
    var phases = availablePhases;
    phases.forEach(function(p)
    {
%>

    <div id="dropdown-phase<%= p %>" class="dropdown dropdown-tip">
        <ul class="dropdown-menu">
            <li><a id="dropdown-phase<%= p %>_" href="#" class="dd_selected" onClick="javascript:filter(<%= p %>,'')">all</a></li>
<%
        if(widgetsPerPhase[p] != undefined)
        {
            widgetsPerPhase[p].forEach(function(d){ %>
            <li><a id="dropdown-phase<%= p %>_<%= d %>" href="#" onClick="javascript:filter(<%= p %>, '<%= d %>')"><%= d %></a></li>
<%          });
        }
%>
        </ul>
    </div>
<%
    });
%>

</body>

  <script type="application/javascript">

      function correctSizes()
      {



              var phases = $("#phases_headers").children();
              phases.each(function (c) {
                  if (!$(this).hasClass("title_data")) {
                      $(this).css("width", parseInt((3 * ($("#mainBody").width() / 5)) / phases.length));
                  }
              })



              $("#em_phases").css("width", parseInt((3 * ($("#mainBody").width() / 5)))+10);
          $("#phases_headers").css("width", parseInt((3 * ($("#mainBody").width() / 5))));

              $("#userList").css("width", parseInt((3 * ($("#mainBody").width() / 5)))+10);
              $("#eventData").css("width", parseInt((2*($("#mainBody").width() / 5)) - 20));
              $("#eventData").css("margin-left", parseInt(3 * ($("#mainBody").width() / 5)));
              $("#userList").css("height", ($("#mainBody").height()) - $("#userList").position().top);
              $("#eventData").css("height", $("#userList").css("height"));

          $(".studentName").css("width", parseInt((3 * ($("#mainBody").width() / 5)) / phases.length));
          $(".visualization").css("width", parseInt((3 * ($("#mainBody").width() / 5)) / phases.length));

          console.log("resize");

      }
      $(document).ready(correctSizes);
      $(window).resize(correctSizes);

      //select default inq
      $("#inquirySelection").val(defaultInquiry);
      inquirySelectionChanged();




  </script>

</html>