<html>
  <head>
    <title>NaviWorld</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
      <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="../javascripts/3rdParty/crossfilter.js"></script>
	<script type="text/javascript" src="../javascripts/3rdParty/magictouch.js"></script>
      <script type="text/javascript" src="../javascripts/3rdParty/date.js"></script>


	<link rel="stylesheet" href="../stylesheets/naviWorld.css">

    <script type="text/javascript" src="../javascripts/blocks.js"></script>
    <script type="text/javascript" src="../javascripts/nwNaviActivityByDayGraph.js"></script>

	<script type="text/javascript">
        var studentsGeneral = [];
        var studentNames = {};

        function studentsLoaded_callBack(json)
        {
            console.log("STUDENTS REQUEST: DONE");

            var objects = [];
            for(var i = 0; i < Object.keys(json).length; i++)
            {
                var user = json[Object.keys(json)[i]];

                studentNames[user.username] = user.fullname;
                studentsGeneral.push(user);
            };
            loadingDone(false, true);
        }

        var badgesGeneral = [];
        var badgesFiltered = [];
        var badgesById = {};

        function badgesLoaded_callBack(json)
        {
            console.log("BADGES REQUEST: DONE");

            var objects = [];
            for(var i = 0; i < Object.keys(json).length; i++)
            {
                var badge = json[Object.keys(json)[i]];

                badgesGeneral.push(badge);
                badgesById[badge.id] = badge;
            };
            badgesFiltered = JSON.parse(JSON.stringify(badgesGeneral)); //deep copy
            filterData(false);
            loadingDone(true, false);
        }


        function filterData(filter, from, till)
        {
            badgesFiltered = [];
            badgesGeneral.forEach(
                    function(d)
                    {
                        var awards = crossfilter(d.awardedToFlat);
                        var awardsByDateDimension = awards.dimension(function(f) {
                            return f.timestamp;
                        });

                        var _minDate = minDate;
                        var _maxDate = maxDate;
                        if(filter)
                        {
                            _minDate = from;
                            _maxDate = till;
                        }

                        var awardsByStudentsFilteredByDateArray = awardsByDateDimension.filter([_minDate.valueOf(), _maxDate.valueOf()]).top(Infinity);

                        var dateRange = crossfilter(awardsByStudentsFilteredByDateArray);
                        var dateRangeWithStudentDimension = dateRange.dimension(function(f) { return f.student});


                        var awardsPerStudents =  dateRangeWithStudentDimension.group().reduceCount();


                        var da = JSON.parse(JSON.stringify(d)); //deep copy
                        da.awardedToFlat = awardsPerStudents.top(Infinity);
                        badgesFiltered.push(da);
                    }
            )


        }

        var badgesLoaded = false;
        var studentsLoaded = false;
        var loadingDone = function(badges, students)
        {
            if(badges) badgesLoaded = true;
            if(students) studentsLoaded = true;
            if(badgesLoaded && studentsLoaded)
            {

                $.getJSON('/flatActivity', updateGraph, "json");
            }
        }

        function loadLara() {

            console.log("BADGES REQUEST: LOADING");
            $.getJSON('/badges', badgesLoaded_callBack, "json");
            console.log("STUDENT REQUEST: LOADING");
            $.getJSON('/users', studentsLoaded_callBack, "json");
        };
    </script>

</head>
<body  id="mainBody" onload="loadLara()">

<div id="nwContainerArea">
    <div id="nwBadgeGraphs"></div>
</div>

</body>
</html>