<html>
  <head>

     <title>LARAe.weSPOT</title>


     <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
     <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

      <link type="text/css" rel="stylesheet" href="/javascripts/3rdParty/jquery-dropdown/jquery.dropdown.css" />
      <script type="text/javascript" src="/javascripts/3rdParty/jquery-dropdown/jquery.dropdown.js"></script>

     <script type="application/javascript">

         var colors =           ["#33FF99","#33CCFF","#CCFF33","#FF0066","#CCFFFF","#FF66CC","#99CC66","#9999FF","#FFCC66", "#FF9966"];
         var colors_dark = ["#197F4C","#19667F","#667F19", "#7F0033","#667F7F","#7F3366" ];
        function loadContent(data)
        {
            $("#eventData").html(data.html);
        }

         var heighestNumberOfEvents_ForAPhase = 50;
         var sizeOfBox = 10;
         var width = 90;
         var spacingBetweenSquares = 1;
         var columns  = parseInt(width / (sizeOfBox + spacingBetweenSquares));  //parseInt(Math.sqrt(heighestNumberOfEvents_ForAPhase));
         //$('.visualization').width();

         //var sizeOfBox = (width / columns);

         var numberOfRows = (heighestNumberOfEvents_ForAPhase / columns);
         var height = numberOfRows *  (sizeOfBox + spacingBetweenSquares);

        function filter(phase, widget)
        {
            //make small the circles that aren't selected
            var svgs = d3.selectAll(".vis_phase" + phase);
            svgs.selectAll("circle")
                    .attr("r", function(){
                        if(widget == "" || this.__data__.subphase == widget)
                                return sizeOfBox/2;
                        else
                            return sizeOfBox/4;
                    });
            //select the right dropdown
            $("#dropdown-phase"+phase + " .dd_selected")[0].setAttribute("class","");
            $("#dropdown-phase"+phase + "_" + widget)[0].setAttribute("class","dd_selected");




        }
        function drawPhase(data, username,phase)
         {

             var div = d3.select("#box_"+username);
             var svg = div
                     .append("svg")

                     .attr("class","visualization vis_phase" + phase)
                     .attr("width", width)
                     .attr("height",height);

             svg.selectAll("circle")
                     .data(data)
                     .enter()
                     .append("circle")
                     .attr("cx", function(d,i){return (i % columns) * (sizeOfBox + spacingBetweenSquares) + sizeOfBox/2;})
                     .attr("cy", function(d,i){return parseInt((i) / columns) * (sizeOfBox+spacingBetweenSquares)+sizeOfBox/2})
                     .attr("r", sizeOfBox/2 )
                     //.attr("width", sizeOfBox)
                     //.attr("height", sizeOfBox)
                     .attr("class", function(d){ return "eventSquare widget_" + d.subphase ;})
                     .attr("fill", function(d){
                         if(!d.today)
                            return colors_dark[d.phase-1];
                         else
                            return colors[d.phase-1];
                          })

                     .on("click",function(d){ loadContent(d); });
         }


     </script>
      <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body  id="mainBody">
<div id="titleField">
    <span id="title">LARAe</span><span id="subtitle">.wespot</span>
    <div id="subsections">
        <ul>
            <li class="title_subsection">Inquiry Activity Overview</li>
            <li class="title_subsection">Dashboard #2 (coming soon)</li>
            <li class="title_subsection">Dashboard #3 (coming soon)</li>
        </ul>
    </div>
</div>
<div id="realContent">
    <h2>Event Data</h2>
    <div id="eventData">
    </div>
</div>
<div id="phases">
    <ul>
        <li class="title_phase1"><a href="#" data-dropdown="#dropdown-phase1">Question/Hypothesis</a></li>
        <li class="title_phase2"><a href="#" data-dropdown="#dropdown-phase2">Operationalisation</a></li>
        <li class="title_phase3"><a href="#" data-dropdown="#dropdown-phase3">Data Collection</a></li>
        <li class="title_phase4"><a href="#" data-dropdown="#dropdown-phase4">Data Analysis</a></li>
        <li class="title_phase5"><a href="#" data-dropdown="#dropdown-phase5">Interpretation</a></li>
        <li class="title_phase6"><a href="#" data-dropdown="#dropdown-phase6">Communication</a></li>
    </ul>
</div>
<div style="display:hidden" class=".visualization"></div>

<div id="userList">
<% var userEvent = events[(userAuthProvider + "_" + userAuthId).toLowerCase()];

    if(userEvent != undefined) { %>
        <div id="user_<%= userEvent.username %>" class="user_vis"/>
        <h2><%= users[userEvent.username].name %></h2>
            <div id="box_<%= userEvent.username %>" class="box_vis"/>
    <%

        for(var i=1;i<=6;i++)
        {
            var user_events = userEvent[i];
            if(user_events == undefined) continue;
    %>


            <script type="application/javascript">
                var data = <%- JSON.stringify(user_events) %>;
                drawPhase(data, "<%= userEvent.username %>",<%= i %>);
            </script>
    <%

        }
    %>
            </div>
        </div>
    <%
    }

        for(var user_phases_key in events)
        {
            var user_phases = events[user_phases_key];
            if(user_phases.username.toLowerCase() == (userAuthProvider + "_" + userAuthId).toLowerCase()) continue;
    %>
            <div id="user_<%= user_phases.username %>" class="user_vis"/>
            <h2><%= users[user_phases.username].name %></h2><!--<img src="<%= users[user_phases.username].icon %>"/>-->
                <div id="box_<%= user_phases.username %>" class="box_vis"/>
    <%

            for(var i=1;i<=6;i++)
            {
                var user_events = user_phases[i]
                if(user_events == undefined) continue;
                /*user_events.forEach(function(event)
                {

                });*/
    %>

                <script type="application/javascript">
                    var data = <%- JSON.stringify(user_events) %>;
                    drawPhase(data, "<%= user_phases.username %>",<%= i %>);
                </script>


    <%
            }
    %>
            </div>
            </div>
    <%
        }
    %>
</div>

<%
    var phases = [1,2,3,4,5,6];
    phases.forEach(function(p)
    {
%>

    <div id="dropdown-phase<%= p %>" class="dropdown dropdown-tip">
        <ul class="dropdown-menu">
            <li><a id="dropdown-phase<%= p %>_" href="#" class="dd_selected" onClick="javascript:filter(<%= p %>,'')">all</a></li>
<%
        if(widgetsPerPhase[p] != undefined)
        {
            widgetsPerPhase[p].forEach(function(d){ %>
            <li><a id="dropdown-phase<%= p %>_<%= d %>" href="#" onClick="javascript:filter(<%= p %>, '<%= d %>')"><%= d %></a></li>
<%          });
        }
%>
        </ul>
    </div>
<%
    });
%>

</body>
</html>