<html>
  <head>

     <title>LARAe.weSPOT</title>
      <link rel="stylesheet" href="/stylesheets/style.css">

     <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
     <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

     <script type="application/javascript">

         var colors =           ["#33FF99","#33CCFF","#CCFF33","#FF0066","#CCFFFF","#FF66CC","#99CC66","#9999FF","#FFCC66", "#FF9966"];
         var colors_dark = ["#197F4C","#19667F","#667F19", "#7F0033","#667F7F","#7F3366" ];
        function loadContent(data)
        {
            $("#eventData").html(data.html);
        }

         function drawPhase(data, username)
         {
             var heighestNumberOfEvents_ForAPhase = 50;
             var sizeOfBox = 7;
             var width = 90;
             var spacingBetweenSquares = 1;
             var columns  = parseInt(width / (sizeOfBox + spacingBetweenSquares));  //parseInt(Math.sqrt(heighestNumberOfEvents_ForAPhase));
            //$('.visualization').width();

             //var sizeOfBox = (width / columns);

             var numberOfRows = (heighestNumberOfEvents_ForAPhase / columns);
             var height = numberOfRows *  (sizeOfBox + spacingBetweenSquares);
             var div = d3.select("#box_"+username);
             var svg = div
                     .append("svg")
                     .attr("class","visualization")
                     .attr("width", width)
                     .attr("height",height);

             svg.selectAll("rect")
                     .data(data)
                     .enter()
                     .append("rect")
                     .attr("x", function(d,i){return (i % columns) * (sizeOfBox + spacingBetweenSquares);})
                     .attr("y", function(d,i){return parseInt((i) / columns) * (sizeOfBox+spacingBetweenSquares)})
                     .attr("width", sizeOfBox)
                     .attr("height", sizeOfBox)
                     .attr("class", function(d){if(1 == 1) return "rectPositive"; return "rectNegative";})
                     .attr("fill", function(d){
                         if(!d.today)
                            return colors_dark[d.phase-1];
                         else
                            return colors[d.phase-1];
                          })

                     .on("click",function(d){ loadContent(d); });
         }


     </script>
</head>
<body  id="mainBody">
<div id="titleField">
    <span id="title">LARAe</span><span id="subtitle">.wespot</span>
    <div id="subsections">
        <ul>
            <li class="title_subsection">Inquiry Activity Overview</li>
            <li class="title_subsection">Dashboard #2 (coming soon)</li>
            <li class="title_subsection">Dashboard #3 (coming soon)</li>
        </ul>
    </div>
</div>
<div id="realContent">
    <h2>Event Data</h2>
    <div id="eventData">
    </div>
</div>
<div id="phases">
    <ul>
        <li class="title_phase1">Question/Hypothesis</li>
        <li class="title_phase2">Operationalisation</li>
        <li class="title_phase3">Data Collection</li>
        <li class="title_phase4">Data Analysis</li>
        <li class="title_phase5">Interpretation</li>
        <li class="title_phase6">Communication</li>
    </ul>
</div>
<div style="display:hidden" class=".visualization"></div>

<div id="userList">
<% var userEvent = events[(userAuthProvider + "_" + userAuthId).toLowerCase()];

    if(userEvent != undefined) { %>
        <div id="user_<%= userEvent.username %>" class="user_vis"/>
        <h2><%= users[userEvent.username].name %></h2>
            <div id="box_<%= userEvent.username %>" class="box_vis"/>
    <%

        for(var i=1;i<=6;i++)
        {
            var user_events = userEvent[i];
            if(user_events == undefined) continue;
    %>


            <script type="application/javascript">
                var data = <%- JSON.stringify(user_events) %>;
                drawPhase(data, "<%= userEvent.username %>");
            </script>
    <%

        }
    %>
            </div>
        </div>
    <%
    }

        for(var user_phases_key in events)
        {
            var user_phases = events[user_phases_key];
            if(user_phases.username.toLowerCase() == (userAuthProvider + "_" + userAuthId).toLowerCase()) continue;
    %>
            <div id="user_<%= user_phases.username %>" class="user_vis"/>
            <h2><%= users[user_phases.username].name %></h2><!--<img src="<%= users[user_phases.username].icon %>"/>-->
                <div id="box_<%= user_phases.username %>" class="box_vis"/>
    <%

            for(var i=1;i<=6;i++)
            {
                var user_events = user_phases[i]
                if(user_events == undefined) continue;
                /*user_events.forEach(function(event)
                {

                });*/
    %>

                <script type="application/javascript">
                    var data = <%- JSON.stringify(user_events) %>;
                    drawPhase(data, "<%= user_phases.username %>");
                </script>


    <%
            }
    %>
            </div>
            </div>
    <%
        }
    %>
</div>

</body>
</html>