<html>
  <head>
    <title>LARAe.weSPOT</title>
</head>
<body  id="mainBody">
<div id="inquirylist">
<% var userEvent = events[(userAuthProvider + "_" + userAuthId).toLowerCase()]; %>
    <%= userEvent.username %>
    <br/>
    <br/>
    <% for(var user_events_key in events){
    var user_events = events[user_events_key];
    if(user_events.username.toLowerCase() == (userAuthProvider + "_" + userAuthId).toLowerCase()) continue; %>
    <%= user_events.username %>

    <% for(var event_key in user_events) {
        var event = user_events[event_key];
    %>
        <%= event.phase %> <%= event.subphase %> <%= event.data %>
    <br/>
    <% }; %>
    <br/>
<% }; %>



</body>
</html>