<!DOCTYPE html>
<html>
  <head>
      <%


      %>
    <title>LARAe.weSPOT</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/wespot/static/stylesheets/style.css">
      <!-- Bootstrap -->
      <link href="/wespot/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="/wespot/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id="titleField">
    <img id="wespot_logo" src="/wespot/static/images/wespot_logo.png"/>
    <span id="wespot_title">Learning Analytics Reflection & Awareness environment</span>
    <span id="title">LARAe</span><span id="subtitle">.wespot</span>

</div>

<div class="container">
    <table class="table table-hover">


        <tr>
            <td>
                <% if(errorMessage == undefined) { %>
                No inquiries found
                <%
                }
                else
                {
                %>
                <%= errorMessage %>
                <% } %>
            </td>
            <td>
               Visit <a href="http://inquiry.wespot.net">Inquiry.weSPOT.net</a> to join an inquiry!
            </td>
        </tr>

    </table>
</div>
</body>
</html>