<!DOCTYPE html>
<html>
  <head>
    <title>LARAe.weSPOT</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="/wespot/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="/wespot/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LARAe.wespot</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <p class="navbar-text navbar-right"><%= users[userAuthProvider + "_" + userAuthId].name %></p>
        <p class="navbar-text navbar-right"><img class="img-circle" style="height:20px" src='<%= users[userAuthProvider + "_" + userAuthId].icon %>'> </p>
    </div>
</nav>
<div class="container">
    <table class="table table-hover">

    <% inquiries.forEach(function(inquiry){ %>
        <tr>
            <td>
                <a href="/wespot/inquiryDashboard/<%= inquiry.inquiryId %>/<%= userAuthId %>/<%= userAuthProvider %>"><%= inquiry.title %></a>
            </td>
            <td>
                <%- inquiry.description %>
            </td>
        </tr>
<% }); %>
    </table>
</div>
</body>
</html>