
@font-face
{
    font-family: elysium;
    src: url(Exo-Light.otf);
}

body
{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-weight:lighter;
    font-size: 14px;
    background-color: #231f20;
    /*font-family: elysium;*/
}

.ActivityGraphAxis path,
.ActivityGraphAxis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.ActivityGraphAxis text {
    font-family: elysium;
    font-size: 9px;
    fill: white;
}

.ActivityGraphTitle {
    font-family: elysium;
    font-size: 14px;

}


#mainVisualization {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 15px;
    max-width: 75%;
    height:70%;
    float:left;
}

#userVisualizations {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 15px;
    max-width: 27%;
    margin-left:73%;
    height:70%;

}

#userVisualizations > div {
    display:block;
    border:solid 1px #80cff4;
    overflow-x: auto;

    width:90%;
}

#userVisualizations > div > h2{
    margin:0;
    background-color: #405f6d;
    color:#80cff4;
}

#userVisualizations > div.selected {
    display:block;
    background-color: #80cff4;
}

#filters
{
    clear:both;
    width:100%;
}

#filters ul
{
    width:40%;
    display:inline-block;
}

#filters li{
    display:inline-block;
    color:#80cff4;
    padding:2px;
    margin:2px;
    border:solid 1px #80cff4;
}


#filters li.selected{
    display:inline-block;
    color:black;
    background-color: #80cff4;
    border:solid 1px #80cff4;
}

#userVisualizations  rect.selected
{
    fill:purple;
}