body
{
    margin:0;
    padding:0;
    /*background: url("../img/background_tile.png") repeat;*/
    /*background-size: cover;*/
    background-color: #231f20;
    font-family: elysium;
}

.ActivityGraphAxis path,
.ActivityGraphAxis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.ActivityGraphAxis text {
    font-family: elysium;
    font-size: 9px;
    fill: white;
}

.ActivityGraphTitle {
    font-family: elysium;
    font-size: 14px;

}


#mainVisualization {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 15px;
    max-width: 75%;
    float:left;
}

#userVisualizations {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 15px;
    max-width: 25%;
}

#userVisualizations svg {
    display:block;
}

#filters
{
    clear:both;
}

#filters li{
    display:inline-block;
    color:white;
    border:solid 1px white;
}


#filters li.selected{
    display:inline-block;
    color:black;
    background-color: white;
    border:solid 1px white;
}