
@font-face
{
    font-family: elysium;
    src: url(Exo-Light.otf);
}

body
{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-weight:lighter;
    font-size: 14px;
    background-color:#e2e2e2;
    /*font-family: elysium;*/
}

.ActivityGraphAxis path,
.ActivityGraphAxis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.ActivityGraphAxis text {
    font-family: elysium;
    font-size: 9px;
    fill: black;
}

.ActivityGraphTitle {
    font-family: elysium;
    font-size: 14px;

}


#mainVisualization {
    border: solid 1px grey;
    width:70%;
    overflow:hidden;
    display:inline-block;
    background-color:white;
    margin-top:5px;
}

#userVisualizations {
   
  display:inline-block;
  border: solid 1px grey;
  background-color: white;

}

#userVisualizations .user_text{
    color:white;
}

#userVisualizations .user_rect_button2,#userVisualizations .user_rect_button1, #userVisualizations .user_surrounding_rect{
    fill:#bbbbbb;
    stroke:white;
}

#userVisualizations  rect.selected
{
    fill:#505050;
     stroke:white;
}

#userVisualizations  rect.unselected
{
    fill:#bbbbbb;
     stroke:white;
}








#content
{
     color:black;
     background-color: white;
    border: solid 1px grey;
    width:1142px;
    
    float:left;
    min-height: 100px;
    margin-left:5px;
    padding-left:10px;
     padding-top:10px;
}

#content .content_data
{
   
}

#content .content_data img
{
   float:left;
   margin-right:10px;
   max-height: 250px;
}

#content .content_data video
{
   float:left;
   margin-right:10px;
   max-height: 250px;
}

#filters
{
   
   margin-left:1164px;
   width:350px;
   
    border: solid 1px grey;
  background-color: white;
}

#filters ul
{
    display:inline;
    padding:0;

    
}

#filters li{
    display:inline-block;
    color:#80cff4;
    padding:2px;
    margin:2px;
    border:solid 1px #80cff4;
}


#filters li.selected{
    display:inline-block;
    color:black;
    background-color: #80cff4;
    border:solid 1px #80cff4;
}

