@font-face
{
font-family: ubuntuFont;
src: url(Ubuntu-R.ttf);
}

@font-face
{
    font-family: square;
    src: url(Square.ttf);
}

@font-face
{
    font-family: elysium;
    src: url(Exo-Light.otf);
}

@font-face
{
    font-family: oblivion;
    src: url(Champagne%20&%20Limousines.ttf);
}


::-webkit-scrollbar { 
    display: none; 
}

body
{
	margin:0;
	padding:0;
	/*background: url("../img/background_tile.png") repeat;*/
	/*background-size: cover;*/
	background-color: #231f20;
	font-family: elysium;
}

/*check these, it's for the long hold problem on iOS)*/
body { -webkit-touch-callout: none !important; -webkit-user-select: none; }
a { -webkit-user-select: none !important; }
img { -webkit-touch-callout: none !important;}
#playfield
{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	position:static;
}

/* MENU */

/* menu animations */
@-webkit-keyframes flicker {
    0% {opacity: .7}
    50% {opacity: .7}
    51% {opacity: .3}
    53% {opacity: .7}
    
    86% {opacity: .7}
    88% {opacity: 1}
    90% {opacity: .0;}
    92% {opacity: .7}
    100% {opacity: 1}  
} 

@-webkit-keyframes pulsate {
    0% {opacity: 0}
    100% {opacity: 1}  
}

@-webkit-keyframes scroll
{
    0% {margin-top: 0px}
    15% {margin-top: -40px}
    85% {margin-top: -40px}
    100% {margin-top: 0px}


}

.scroller
{
    -webkit-animation-name: scroll;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: once;
}

    .flicker
{
    -webkit-animation-name: flicker;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;       
}


.pulsate
{
	-webkit-animation-name: pulsate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;    
}




/*small badge*/
.nwBadge
{
	width:3%;
	display:inline-block;
	z-index:10;

}
.nwBadgeIcon
{
	width:100%;
	z-index:8;
}

.nwBadgeDetails_hidden
{
	display:none;
}

/*detailed badge*/
.nwBadgeIconDetailed
{
	width:40%;
	z-index:10;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:3px
}
.nwBadgeDetails_shown
{
	display:block;
	
	font-size:1em;
	color:#aaa8a8;
	padding:10px;

	z-index:10;

}
.nwBadgeDetailed{
	width:6%;
	z-index:10;
	-webkit-box-shadow: 1px 1px 2px 0px #000010;
	background-color:#585858;
    display:inline-block;
}
.nwBadgeDetailed h1{
	font-size:.8em;
	color:#ffffff;
	z-index:10;
	width:80%;
	margin-left:20%;
	padding-bottom:5px;
	border-bottom:solid 1px white;
    display:none;
	
}
.nwBadgeDetailed p{
	font-size:.6em;
	color:#ffffff;
	z-index:10;
	text-align:justify;
}









.Container_topBar
{
	
	color: #ffffff;

	font-size: 1.1em;
	margin-bottom:5px;
	text-align: center;
	margin-right:10px;

}



.nwStudent
{
	display:block;
	width:99%;
	height:30px;
	color: white;
	z-index:10;
	
	background-color:#888888;
	font-size:.9em;
	margin:auto;
    vertical-align: middle;
	margin:1px;
	overflow:scroll;
    font-size:12px;
    font-weight:bold;
}

.Student_ListItem
{
    display:inline-block;
    width:70%;

    padding:5px;
}


.Student_Grade
{
    display:inline-block;
    font-size:8px;
    float:right;
    margin-right:5px;
}

.Student_Grade strong
{
    display:block;
    font-size:16px;

}

.nwStudent img
{
	display:none;
}

.nwStudentDragged
{
	display:inline-block;
	color: #ffffff;
	
	font-size:1.0em;
	-webkit-box-shadow: 1px 1px 2px 0px #000010;
	background-color:#585858;
	padding:10px;
	z-index:10;
}

.nwStudentDragged img
{
	display:inline-block;
	width:20px;
	margin-left:10px;
	float:right;
}
/* logo */

@-webkit-keyframes rotateLogo {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(-180deg);}
    100% {-webkit-transform: rotate(-360deg);}
} 

#nwNaviLogo
{
	/*-webkit-opacity:.6;*/
	width:10px;
	position:fixed;
	display:block;
	/*border:solid 0px white;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:4px;
	border-radius: 20px;*/
	left:5px;
	top:5px;
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: rotateLogo;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite; 
}

.highlightedStudent0
{
	color: #00c6ff;
}


.highlightedStudent1
{
    color: red;
}

.selectedObject0
{
	
	background-color: #00daec;
	color: white;
}

.selectedObject1
{

    background-color: #ff877f;
    color: white;
}




.emptyStudent
{
	background-color: #4c4c4c;
}

.emptyBadge
{
	opacity: .1;
}

#nwNaviOverlay
{
	position:fixed;
	top:0;left:0;
	width:100%;
	height:100%;
	background-color:#231f20;
	text-align:center;
	vertical-align:middle;
	z-index:101
}

#nwNaviOverlay img
{
	margin:auto;
	margin-top:450px
}

#nwNaviOverlay p
{
	color:white;
	font-size:.5em;
	position:fixed;
	top:90%;
	left:90%;
}


.ActivityGraphAxis path,
.ActivityGraphAxis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.ActivityGraphAxis text {
    font-family: elysium;
    font-size: 9px;
    fill: white;
}

.ActivityGraphTitle {
    font-family: elysium;
    font-size: 14px;

}


.nwGroupDivider {
    font-family: elysium;
    font-size: 10px;
    color: white;
    width:10% ;
    display:inline-block;
}






#nwContainerArea
{
    position:absolute;
    padding:0;
    margin:0;
    /*-webkit-transform: translateY(250%);*/
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;

}

#nwContainerArea > div, #nwContainerArea > svg
{
    display:block;
    position:absolute;
    border-top: solid 1px cadetblue;
    border-bottom:  dotted 1px cadetblue;
}

#nwContainerArea > svg
{
    display:block;
    position:absolute;
    width:550px;
    height:160px;
}


#nwBadgeContainer
{


    padding:5px;

    width:500px;
    display:block;
    vertical-align: top;



}


#nwActivityGraph
 {

    top:10px;
     left:10px;
 }

#nwBlogPostGraph
{
    top:177px;
    left:10px;
}

#nwBlogCommentGraph
{
    top:345px;
    left:10px;
}


#nwTweetGraph
{
    top:512px;
    left:10px;
}

#nwBadgeActivityGraph
{
    top:680px;
    left:10px;
}
#nwBadgeContainer
{
    top:10px;
    left:5000px;
}

#nwStudentContainer
{
    overflow:scroll;
    padding:5px;
    top:1250px;
    left:10px;
    width:98%;

}



#nwNaviDetailedActivityView
{
    width:300px;
    height:820px;
    overflow:scroll;
    top:10px;
    left:1480px;
    text-align: left;
    padding:5px;
    color:white;
    font-size:12px;




}

#nwNaviDetailedActivityViewExternal
{
    width:680px;
    height:830px;
    overflow:auto;
    top:10px;
    left:1850px;
    text-align: left;
    padding-left:5px;
    color:white;
    font-size:12px;
}

#nwNaviDetailedActivityViewExternal h2
{
    font-size:14px;
}

#nwNaviDetailedActivityViewExternal a
{
    color:cyan;
}

#nwNaviDetailedActivityViewExternal img
{
    max-width:100%;
    text-align: center;
    border:solid 1px white;
}

#nwBadgeStudentGraph
{

    top:10px;
    left:10px;
    width:820px;
    height:830px;
    border-top: solid 1px cadetblue;
    border-bottom:  dotted 1px cadetblue;
}

.CircleGraphAxis path,
.CircleGraphAxis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.CircleGraphAxis text {
    font-family: elysium;
    font-size: 10px;
    fill: white;
}




#nwTimeSlider
{

    top:1205px;
    left:10px;
    width:98%;
    height:40px;
    position:absolute;

}

#nwTimeSliderLeft, #nwTimeSliderRight,#nwTimeSliderPlay
{
    width:20px;
    color:#008293;
    background-color: #231f20;
    border: solid 1px #008293;
    position:absolute;

}

#bgTimeSlider
{
    top:20px;
    left:30px;
    width:600px;
    height:1px;
    border-bottom:dashed 2px #008293;
    position:absolute;
}

#nwTimeSliderLeft
{
    /*top:900px;
    left:1080px;*/
    top:10px;
    left:30px;
    width:20px;
}
#nwTimeSliderRight
{
    /*top:900px;
    left:1280px;*/
    top:10px;
    left:630px;
    width:20px;
}

#nwTimeSliderPlay
{
    top:10px;
    left:660px;
    width:100px;
}



.CompareButton
{
    width:100px;
    color:white;
    background-color: blue;
    text-align: center;
    padding-top:10px

}

#nwCompareButton
{
    top:1255px;
    left:10px;
    background-color: #00daec;
    height:40px;

}

#nwCompareButton2
{
    top:1308px;
    left:10px;
    height:48px;
    background-color: #410000;

}

#verticalDivider1
{
    position:absolute;
    top:30px;
    left:855px;
    width:1px;
    height:780px;
    border-left:dotted 1px cadetblue;

}

#verticalDivider2
{
    position:absolute;
    top:30px;
    left:1455px;
    width:1px;
    height:780px;
    border-left:dotted 1px cadetblue;

}

#verticalDivider3
{
    position:absolute;
    top:30px;
    left:1820px;
    width:1px;
    height:780px;
    border-left:dotted 1px cadetblue;

}

.activitySet1 .activityType, .activitySet1 .activityUser, .activitySet1 .activityTime
{
    background-color: #00daec;
}

.activitySet2 .activityType, .activitySet2 .activityUser, .activitySet2 .activityTime
{
    background-color: #ff877f;
}

.activityEntry
{
    display:block;
    width:100%;
    margin-bottom:2px;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}

.activityType
{
    display:inline-block;
    width:80px;
    height:15px;
    font-size:10px;
    background-color: #004959;
    padding-left:10px;
}
.activityUser
{
    margin-left:2px;
    display:inline-block;
    width:140px;
    background-color: #004959;
    font-size:10px;
    height:15px;
    padding-left:10px;
}

.activityTime
{
    margin-left:2px;
    display:inline-block;
    width:30px;
    background-color: #004959;
    font-size:10px;
    height:15px;
    padding-left:10px;
}


#nwBadgeGraphs
{
    top:900px;
    left:10px;
    color:white;
    text-align: left;
    width:98%;
    padding-top:10px;
    padding-bottom:10px;
}

.singleBadgeGraph
{
    display:inline-block;
    border-left:dotted 1px cadetblue;
    border-bottom:dotted 1px cadetblue;
    text-align:left;
    width:300px;
    height:41px;
    padding:0px;
    padding-top:2px;
    padding-left:5px;
    margin:0px;
    margin-top:2px;
    margin-left:2px;


    overflow:hidden;
}

.singleBadgeGraph img
{
    float:left;
    width:30px;
}

.singleBadgeGraph h2
{
    display:inline-block;
    font-size:10px;
    margin:0;
    padding:0;
    margin-top: 1px;
    padding-top: 0px;

}

.singleBadgeGraph p
{
    display:inline-block;
    font-size:8px;
    margin-top:0px;

    margin-right:20px;

}


.singleBadgeGraph svg
{
    display:inline-block;




}

.singleBadgeGraph svg text
{
    font-family: elysium;
    font-size: 7px;
    fill: white;
}

.singleBadgeGraphDetails
{
    padding:0px;
    margin:0px;
    margin-left:35px;

    height:42px;



}



