/*dark*/
/*
@background_color:#383838;
@border_color:#383838;
@title_background_color:#282828;
@subsection_background_color: #2E2E2E;
@dropdown_background_color:#404040;
@visualisation_background_color:#3D3D3D;
@content_background_color:#383838;
@link_color:#CCCCFF;
@text_color:white;
@visualisation_bottombar_color:#545454;
@phase_border_size:1px;
@name_color:white;
@subsection_text_color:#C2C2C2;
@dropdown_text_color: white;
@dropdown_menu_highlight_color:#FFFFFF;
 @dropdown_menu_highlight_color:#404040;
 @overlay_color:rgba(0,0,0,.7)
.title_lara
{
  font-size:20px;
  font-family: elysium;

}
.title_wespot
{
  display:none;
}
.subtitle_wespot
{

}
.wespot_logo, .wespot_title
{
  display:none;
}
*/
/*light*/
.title_lara {
  display: none;
}
.title_wespot {
  color: #383838;
  font-size: 14px;
  font-family: elysium;
  display: inline-block;
  width: 250px;
  margin-left: 10px;
  padding-left: 5px;
  border-left: solid 6px #f4f4f4;
  vertical-align: top;
}
.wespot_logo {
  height: 30px;
  display: inline-block;
}
.subtitle_wespot {
  display: none;
}
@font-face {
  font-family: elysium;
  src: url(Exo-Light.otf);
}
#mainBody {
  background-color: #ffffff;
  font-family: Helvetica Neue;
  font-size: 10px;
  color: #383838;
  font-weight: normal;
  margin: 0px;
  height: 100%;
  min-width: 900px;
}
#miniBody {
  background-color: #ffffff;
  font-family: Helvetica Neue;
  font-size: 10px;
  color: #383838;
  font-weight: normal;
  margin: 0px;
}
/* TITLE */
.navbar-default {
  background-color: #ffffff;
  font-family: elysium;
  font-size: 10px;
  color: white;
  font-weight: normal;
}
.navbar-default .navbar-text,
.navbar-default .navbar-brand {
  color: white;
}
#titleField {
  min-width: 840px;
  width: 100%;
  border-bottom: solid 1px #383838;
  color: white;
  background-color: #ffffff;
  padding: 8px;
}
#titleField a,
#titleField a:hover {
  color: white;
}
#wespot_logo {
  height: 30px;
  display: inline-block;
}
#wespot_title {
  color: #383838;
  font-size: 14px;
  font-family: elysium;
  display: inline-block;
  width: 250px;
  margin-left: 10px;
  padding-left: 5px;
  border-left: solid 6px #f4f4f4;
  vertical-align: top;
}
#title {
  display: none;
}
#subtitle {
  font-size: 15px;
  font-family: elysium;
  color: #CCCCFF;
  display: none;
}
#subsections {
  position: absolute;
  display: inline-block;
  left: 400px;
}
#subsections ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#subsections ul li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-right: 5px;
  width: 100px;
  text-align: center;
  font-size: 10px;
  background-color: #f9f9f9;
  color: #616161;
}
#subsections ul li.disabled {
  color: #c2c2c2;
}
#user img {
  float: right;
  vertical-align: center;
  margin-left: 10px;
  display: block;
}
#user {
  color: #383838;
  display: inline;
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-family: elysium;
}
/* phase titles */
#phases {
  width: 100%;
  overflow: scroll;
}
#phases th {
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0px;
  padding: 0px;
  width: 13%;
  padding-bottom: 3px;
  text-align: center;
  font-size: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
#phases td > a::after {
  content: '↓';
  margin-left: 2px;
}
#phases td a,
#phases td a:hover,
#phases td a:visited {
  color: #383838;
  text-decoration: none;
}
.title_phase1 {
  border-color: #33FF99;
}
.title_phase2 {
  border-color: #33CCFF;
}
.title_phase3 {
  border-color: #CCFF33;
}
.title_phase4 {
  border-color: #FF0066;
}
.title_phase5 {
  border-color: #CCFFFF;
}
.title_phase6 {
  border-color: #FF66CC;
}
.dropdown .dropdown-menu,
.dropdown .dropdown-panel {
  background-color: #ffffff;
}
.dropdown .dropdown-menu LI > A,
.dropdown .dropdown-menu LABEL {
  color: #000000;
}
.dropdown .dropdown-menu LI > A:hover,
.dropdown .dropdown-menu LABEL:hover {
  background-color: #404040;
  color: #ffffff;
}
.dd_selected::before {
  position: absolute;
  left: 3px;
  content: "\2611";
}
/* user */
.scrollableView {
  height: 80%;
  overflow: scroll;
  overflow-style: scrollbar;
  width: auto;
}
#userList {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
/* visualization */
.visualization,
.miniDashboard_visualization {
  border-bottom: solid 5px #f4f4f4;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-height: 10px;
}
.studentName {
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 10px;
}
.studentName,
.visualization,
.miniDashboard_visualization {
  margin: 0;
  width: 13%;
  vertical-align: top;
}
.miniDashboard_visualization {
  width: 90%;
}
/* miniDashboard */
#userData {
  font-style: italic;
  width: 90%;
  padding: 10px;
}
.miniDashboard_title_phase1 {
  color: #33FF99;
}
.miniDashboard_title_phase2 {
  color: #33CCFF;
}
.miniDashboard_title_phase3 {
  color: #CCFF33;
}
.miniDashboard_title_phase4 {
  color: #FF0066;
}
.miniDashboard_title_phase5 {
  color: #CCFFFF;
}
.miniDashboard_title_phase6 {
  color: #FF66CC;
}
.miniDashboard_title {
  color: #616161;
  padding-top: 10px;
  font-size: 14px;
}
#miniDashboard_link {
  padding: 5px;
}
#miniDashboard_link a {
  color: #ccccff;
  cursor: pointer;
  text-decoration: none;
}
#miniDashboard_link a:hover {
  color: #ccccff;
  cursor: pointer;
  border-bottom: solid 1px #ccccff;
}
.vis_circle {
  margin-left: 2px;
  margin-bottom: 2px;
}
/* content */
#realContent_wrapper {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  text-align: center;
  width: 100%;
  overflow: scroll;
}
#realContent_close {
  color: #383838;
  float: right;
  margin-top: -5px;
  border-radius: 20px;
  border: solid 1px white;
  padding: 5px;
  padding-top: 3px;
}
#realContent_close:hover {
  color: #ccccff;
  cursor: pointer;
  border: solid 1px #ccccff;
}
#realContent {
  display: inline-block;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  /*position: absolute;
    left: 50%;
    margin-left: -25%;*/
}
#realContent h2 {
  margin-top: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: solid 1px #666699;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}
#eventData {
  text-align: left;
  width: 100%;
}
#eventData img,
#eventData video {
  max-width: 90%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#eventData a {
  color: #ccccff;
}
.eventSquare:hover {
  cursor: pointer;
}
/* app layout */
#leftInterface {
  float: left;
  display: inline-block;
  width: 60%;
}
#rightInterface {
  display: inline-block;
  float: right;
  width: 40%;
}
#eventData ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#eventData li.oneEvent {
  border-bottom: solid 1px #f4f4f4;
  padding: 5px;
  background-color: #f9f9f9;
}
#eventData li.oneEvent:hover {
  background-color: #f4f4f4;
}
.oneEvent h3 {
  height: 20px;
  color: white;
  padding: 5px;
  padding-bottom: 3px;
  margin-bottom: 2px;
}
.oneEvent span {
  display: block;
  width: 100%;
}
.oneEvent h3.phase1 {
  background-color: #197F4C;
}
.oneEvent span.phase1 {
  border-bottom: solid 2px #197F4C;
}
.oneEvent h3.phase2 {
  background-color: #19667F;
}
.oneEvent span.phase2 {
  border-bottom: solid 2px #19667F;
}
.oneEvent h3.phase3 {
  background-color: #667F19;
}
.oneEvent span.phase3 {
  border-bottom: solid 2px #667F19;
}
.oneEvent h3.phase4 {
  background-color: #7F0033;
}
.oneEvent span.phase4 {
  border-bottom: solid 2px #7F0033;
}
.oneEvent h3.phase5 {
  background-color: #667F7F;
}
.oneEvent span.phase5 {
  border-bottom: solid 2px #667F7F;
}
.oneEvent h3.phase6 {
  background-color: #7F3366;
}
.oneEvent span.phase6 {
  border-bottom: solid 2px #7F3366;
}
