@font-face
{
    font-family: elysium;
    src: url(Exo-Light.otf);
}

body
{
    background-color: #383838;
    font-family: elysium;
    font-size: 10px;
    color: white;
    font-weight:normal;

}

/* TITLE */

#titleField
{
    width:100%;
    border-bottom:solid 1px white;
    color:white;
}

#titleField a, #titleField a:hover{
    color:white;
}


#title
{
    font-size:20px;

}

#subtitle
{
    font-size:15px;
    margin-right:450px;
    color:#CCCCFF;
}

/* phase titles */

#phases ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
    margin-left:120px;
    margin-top:10px;
    margin-bottom:5px;
}

#phases ul li
{

    display:inline-block;
    margin:0px;
    padding:0px;
    padding-top:5px;
    padding-bottom:5px;
    width:100px;
    text-align:center;
    font-size: 10px;
    border-bottom-style: solid;
    border-bottom-width:1px;


}

.title_phase1
{
    border-color: #33FF99;
}
.title_phase2
{
    border-color: #33CCFF;
}

.title_phase3
{
    border-color: #CCFF33;
}

.title_phase4
{
    border-color: #FF0066;
}

.title_phase5
{
    border-color: #CCFFFF;
}
.title_phase6
{
    border-color: #FF66CC;
}


/* user */

#userList
{

    width: 735px
}
.user_vis
{
    padding:0;
    margin:0;
}

#userList h2
{
    display:inline;
    font-size:10px;
    width:100px;
    overflow:hidden;
    float:left;
}

/* visualization */
.box_vis
{
   margin-left:120px;


    display:block;
    border-bottom:dotted 1px #B0B0B0;
}

.visualization
{
    margin:5px;
    display:inline-block;

}


/* content */
#realContent
{
    float:right;

    margin:0px;
    width:300px;
   }

#realContent h2
{
    margin-top:10px;

    padding:0px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    border-bottom: solid 1px #666699;
    text-align:center;
    font-size: 10px;
    margin-bottom:5px;


}

#eventData
{
    text-align: center;
}
#eventData img
{
    width:95%;
    border:solid 1px lightslategray;
    padding:5px;
}

#eventData video
{
    width:95%;
    border:solid 1px lightslategray;
    padding:5px;
}

#eventData a{

    color:#CCCCFF;
}